version: '3'
services:
  docker-mysql:
    container_name: docker-mysql
    image: mysql
    environment:
      MYSQL_DATABASE: exercise
      MYSQL_ROOT_PASSWORD: abc123
      MYSQL_ROOT_HOST: '%'
    ports:
      - "6033:3306"
  exercise:
    build: ./
    expose:
      - "8080"
    ports:
      - 8080:8080
    environment:
      WAIT_HOSTS: mysql:3306
    depends_on:
      - docker-mysql